@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

#Projects {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.items-links {
  width: 70%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.item-link {
  border: 2px solid #6e8387;
  padding: 10px 30px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #171614;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.4s ease;
}

.item-link:hover {
  background: #6e8387;
  color: #fff;
}

.active {
  background: #6e8387;
  color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-img {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(103, 103, 103, 0.5);
  height: 14rem;
  animation: SclAnimation 0.4s ease;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: 0.4s ease;
}

@keyframes SclAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.project-img:hover .overlay {
  top: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: linear-gradient(transparent, #b4e1ff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: 0.4s ease;
}

.overlay h4 {
  font-size: 1.25rem;
  color: #171614be;
}

.action-aria {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 10px 20px;
  background: #5cbeff;
  border-radius: 12px;
  text-decoration: none;
  color: #171614;
  font-size: 1.1rem;
  font-weight: 600;
  border: 1px solid transparent;
  transition: 0.4s ease;
}

.btn-light {
  background: transparent;
  border-color: #6e8387;
  color: #171614;
}

.btn:hover {
  background: transparent;
  border-color: #6e8387;
  color: #171614;
}

.btn-light:hover {
  background: #5cbeff;
  color: #171614;
  border: none;
}

.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-2 a {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px 25px;
  margin: 20px 0 50px 0;
  background: #5cbeff;
  color: #171614;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  transition: 0.5s ease;
}

a:hover {
  background: #b4e1ff;
}

.project-img:hover img {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
  .items-links {
    width: 90%;
  }
}

@media (max-width: 991px) {
  .items-links {
    width: 100%;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .items-links {
    gap: 20px;
    flex-wrap: wrap;
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  .project-img {
    height: max-content;
  }
}
